html{
    background-color: cornflowerblue;
    
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.titulo{
    color: blueviolet;
 
}
.subtitulo{
    color: beige;

}

.tarjetas-de-mokepon{
    width: 250px;
    height: 100px;
    background-color: aquamarine;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

.tarjetas-de-mokepon img{
    width: 80px;
}

input{
    display: none;
}
#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

#boton-mascota{
    width: 100px;
    height: 40px;
    border-radius: 20%;
    background: transparent;
    border: 2px solid snow;
    color: wheat;
    margin: 2%;
}

.boton-de-ataque{
    color: whitesmoke;
    box-sizing: border-box;
    border-radius: 20%;
    border-color: aliceblue;
    background-color: transparent;
}